---
Checks:          '-*,
                  clang-diagnostic-*,
                  clang-analyzer-*,
                  clang-analyzer-*,
                  cppcoreguidelines-*,
                  -cppcoreguidelines-avoid-non-const-global-variables,
                  -cppcoreguidelines-owning-memory
                  '
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
...

