---
Checks:          '-*,
                  clang-diagnostic-*,
                  clang-analyzer-*,
                  clang-analyzer-*,
                  cppcoreguidelines-*,
                  '
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
...

